.left-header{
    text-align:left;
    
}

.right-header{
    text-align:right;

}

.template-container{
    background-color: lightgreen;
    height:80vh;
    width:90%;
    align-content: space-around;
    margin-left: 70px;
    margin-top: 30px;
    border-radius:20px;
    background: radial-gradient(circle,orange,green);
   

    
}
.carousel-item {
  position: relative;
  text-align: center;
}
.carousel-item img {
  width: 100%;
  height: 500px; /* Adjust based on your requirement */
  object-fit: cover;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Add contrast */
  padding: 15px;
  border-radius: 8px;
}
.carousel-caption h2, 
.carousel-caption p {
  color: white;
}
.carousel-caption button {
  margin-top: 10px;
}

.categories-container{
  margin-left: 20px;
  margin-top:20px;
  border:2px solid black;
  float:left;
  margin-bottom: 40px;
  padding:15px;
}

.categories-container li{
  font: size 15px;
}

.categories-container h2{
  padding-bottom:10px;
  
}